<%= render "layouts/flash" %>
<div class = "container-fluid">
  <div class="row">
    <div class="col-12">
      <h1 class= "head-line text-center mt-5 "><i class="fas fa-money-bill-wave-alt"></i>収入一覧</h1>
      <h2 class="text-center mt-5">表示期間</h2>
      <h4 class = "head-date text-center">
        <%= link_to incomes_path(month: @month.prev_month) ,'data-turbolinks': false do %>
          <%= image_tag 'back.jpg', size: "50x40" %>
        <% end %>
        <%= I18n.l @current_month_beginning %>
        <strong class="day mr-2 ml-2">~</strong>
        <%= I18n.l @current_month_end %>
	       <%= link_to incomes_path(month: @month.next_month),'data-turbolinks': false do %>
	          <%= image_tag 'next.jpg', size: "50x40" %>
	       <% end %>
	     </h4>
    </div>
    <div class="col-11 ml-5 mt-5">
      <h2 class ="total mt-5">収入額の合計：
        <span class="text-success"><%= @sum_price %>円</span></h2>
      <h4><%= link_to"収入を登録", new_income_path,class: "gradient2" %></h4>
    </div>
    <div class="col-lg-7 offset-1 text-center">
      <% if @incomes.present? %>
        <table class="table table-bordered table-hover mt-5">
          <thead>
            <tr>
              <th>日付</th>
              <th>収入金額</th>
              <th>備考欄</th>
              <th>家族名</th>
              <th colspan="2"></th>
            </tr>
          </thead>

      <% @incomes.each do |income| %>
      <tbody>
       <div class="list">
        <tr>
           <td ><%= link_to edit_income_path(income) do %>
            <%= I18n.l income.created_at, format: :short %>
            <% end %>
           </td>
          <!--config/locales/ja.ymlでcreated_atとformat: :shortを日本語表記になるように定義-->
          <td><%= income.price.floor.to_s(:delimited)%>円</td>
          <td><%= income.note%></td>
          <td><%= income.family.family_name %></td>
          <td class= "text-center"><%=link_to "削除する",income_path(income),method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
        </tr>
       </div>
      </tbody>
     <% end %>
    </table>
    <%= paginate @incomes,'data-turbolinks': false %>
    <% else %>
    <h3 class="text-center mt-5">収入の登録がありません</h3>
    <% end %>
   </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-5">
      <h2><i class="fas fa-chart-line ml-5"></i>年間の収入</h2>
      <div class= "chart m-5" style='width:80%; height: 400px;'>
        <canvas id="line" ></canvas>
      </div>
    </div>
  </div>
</div>

<script>
const data = {
  labels: <%== @line_monthes %>,
  datasets: [
    {
      label: '収入金額',
      data: <%= @line_datas %>,
      pointStyle: 'circle',
      pointRadius: 10,
      pointHoverRadius: 15
    }
  ]
};

const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: (ctx) => 'Point Style: ' + ctx.chart.data.datasets[0].pointStyle,
      }
    }
  }
};

const line = document.getElementById('line');
new Chart(line, {
    type: 'line',
    data: data,
    config
  });




</script>