<%= render "layouts/flash" %>
<div class = "container-fluid">
  <div class = "row">
    <div class="col-12">
      <h1 class= "head-line text-center mt-5"><i class="fas fa-list-ul"></i>家族登録/一覧</h1>
      <h2 class="text-center">表示期間</h2>
      <h3 class = "head-date text-center">
        <%= link_to families_path(month: @month.prev_month),'data-turbolinks': false do %>
	          <%= image_tag 'back.jpg', size: "50x40" %>
	       <% end %>
	       <%= I18n.l @current_month_beginning %>
	       <strong class="day mr-2 ml-2">~</strong>
	       <%= I18n.l @current_month_end %>
	       <%= link_to families_path(month: @month.next_month),'data-turbolinks': false do %>
	          <%= image_tag 'next.jpg', size: "50x40" %>
	       <% end %>
      </h3>
    </div>
    <div class = "col-lg-4 offset-1 mt-5">
			<h2><i class="fas fa-chart-pie"></i>現在の家計簿</h2>
			<% if @expenses.present? %>
        <div class= "chart" style='width:350px; height: 350px;'>
           <canvas id ="chart" ></canvas>
        </div>
      <% else %>
          <td>未設定</td>
          <div class= "chart" style='width:350px; height: 350px;'>
            <canvas id ="chart" ></canvas>
          </div>
      <% end %>
    </div>
    <div class="col-lg-6 mt-5 mb-5 ">
        
        <%= render "/layouts/error", object: @family_new %>

      <%= form_with model:@family_new,local: true do |f| %>
        <div class="family">
          <div class="form-group ">
            <%=f.label :"家族名",class: " control-label" %>
            <%=f.text_field :family_name, required: true, class: "col-3 form-control-static postal_code" %>
            <%= f.submit '新規登録' ,class: " ml-3 btn-success right" %>
          </div>
        </div>
      <% end %>
      <table class="table table-bordered table-hover mb-5">
        <thead>
          <tr>
            <th>家族名</th>
            <th>今月の支出</th>
            <th colspan="2"></th>
            </tr>
        </thead>
        <% @families.each do |family| %>
          <tbody>
            <div class="list mb-5">
              <tr>
                <td><%= family.family_name %></td>
                <td><%=  family.expenses.where(created_at: @month.all_month).map{|a| a[:price]}.sum %></td>
                <td class= "text-center"><%= link_to edit_family_path(family), class: "btn btn-sm btn-success" do %>
                <i class="fas fa-lg fa-pencil-alt"></i>編集する<% end %></td>
                <td class= "text-center"><%=link_to family_path(family),method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" do %>
                <i class="fas fa-trash-alt"></i>削除する<% end %></td>
              </tr>
            </div>
          </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>
 
<script>

const expense_data = {
  labels: [
    <% @family_chart.each do |expense| %>
      '<%= expense.family.family_name %>',
    <% end %>
    ],
  datasets: [
    {
      label: '金額',
      data: [
        <% @family_chart.each do |expense| %>
          '<%= expense.price %>',
        <% end %>
      ],
    }
  ]
};

const expense_ctx = document.getElementById('chart');
new Chart(expense_ctx, {
    type: 'pie',
    data: expense_data,
    options: {
  /*    scales: {
        y: {
          beginAtZero: true
        }
      }
      */
    }
  });
  
</script>