<div class = "container">
  <div class = "row">
    <div class="col-12">
     <%= form_with model: @household_account, url: household_accounts_path, local: true do |f| %>
       <table class="col-12 table table-bordered">
        <tbody>
          <tr>
            <td>
              <%= @user.name %>さん</br>
              <%= @user.job %>
              <%= @user.annual_income %>
              <%= @user.prefecture %>
            　<%= @user.age %>
            </td>
          </tr>
        </tbody>
      </table>

      <div class= "col-6" style='width:200px; height: 200px;'>
               <canvas id="pie_chart" ></canvas>
      </div>
      <div class= "col-3">
        <h4>支出項目</h4>
           <% @categories.each do |category| %>
            <tbody>
              <tr>
                <td><div style="color: <%= category.color %>;"> <%= category.category_name %></div></td>
                <td><%= category.target_price %>円</td>
              </tr>
            </tbody>
           <% end %>
        <div class="text-center">
           <%= f.submit "投稿する", class: "btn btn-success" %>
        </div>
     <% end %>
    </div>
  </div>

</div>


<script>

const household_account_data = {
  labels: [
    <% @categories.all.each do | category| %>
      '<%= category.category_name %>',
    <% end %>
    ],
  datasets: [
    {
      label: 'カテゴリー表',
      data: [
        <% @categories.all.each do | category| %>
          '<%= category.target_price %>',
        <% end %>
      ],
    }
  ]
};

const pie_ctx = document.getElementById('pie_chart');
new Chart(pie_ctx, {
    type: 'pie',
    data: household_account_data,
    options: {
  /*    scales: {
        y: {
          beginAtZero: true
        }
      }
      */
    }
  });
const column_ctx = document.getElementById('column_chart');
new Chart(column_ctx, {
    type: 'bar',
    data: category_data,
    options: {
  /*    scales: {
        y: {
          beginAtZero: true
        }
      }
      */
    }
  });

</script>
