<div class = "containerfluid">
  <div class = "row">
    <div class="col-11 m-5">
       <h2 class= "head-line text-center m-5">項目編集</h2>
      <div class= "error" >
       <%= render "/layouts/error", object: @category %>
      </div>

      <%= form_with model: @category,local: true do |f| %>
        <div class="category col-9 offset-3">
          <div class="form-group">
            <%=f.label :category_name, "項目名",class: "control-label" %>
            <%=f.text_field :category_name, required: true,class: "col-7 offset-1 form-control-static" %>
          </div>
          <div class="form-group">
            <%= f.label :color, "カテゴリカラー：", class: "form-label" %>
            <%= f.color_field :color, list: "col-7 offset-2 color-list" %>
          </div>
          <div class="form-group">
            <%= f.label :target_price, "月の目標金額：", class: "form-label" %>
            <%= f.number_field :target_price, required: true,class:"col-9 form-control input-price" %>
          </div>
            <%= f.submit '新規登録' ,class: "offset-3 col-2 m-5 btn-lg btn-success right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
