<div class = "container">
  <div class = "row">
    <div class="col-12">
       <h2 class= "head-line mt-4 ml-5">項目登録</h2>
      <div class= "error" >
       <%= render "/layouts/error", object: @category %>
      </div>

      <%= form_with model: @category,local: true do |f| %>
        <div class="category col-12 mt-5">
          <div class="form-group col-xs-12">
            <%=f.label :category_name, "項目名",class: "col-3 control-label" %>
            <%=f.text_field :category_name, required: true,class: "col-3 form-control-static" %>
            <%= f.label :color, "カテゴリカラー：", class: "form-label" %>
            <%= f.color_field :color, list: "color-list" %>
  
            <%= f.label :target_price, "月の目標金額：", class: "form-label" %>
            <%= f.number_field :target_price, required: true,class:"form-control input-price" %>
            <%= f.submit '新規登録' ,class: "offset-3 col-2 btn-lg btn-success right" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
