<div class="container-fluid">
　<div class="row">
　  <div class="col-7 offset-1 ">
　    <h2 class="headline text-center">プロフィール編集</h2>
　      <%= form_with(model:@user, url:admin_user_path, local: true ) do |f| %>
          <div class="form-group col-12 mt-5">
            <%= f.label :name, "ニックネーム", class: "col-6 control-label" %>
            <%= f.text_field :name, class: "col-5 form-control-static" %>
          </div>
          <div class="form-group col-12">
            <%= f.label :prefecture, "都道府県", class: "col-6 control-label" %>
            <%= f.select :prefecture, User.prefectures.map{ |k, v| [k, k] }, {}, class: "form-control-static name" %>
              <%#mapメソッドはprefecture変数の要素をk＝文字、v＝id で定義、enum_helpを実装し、prefectureであればprefecture_i18nと記述することで日本語で実装できる
                が今回はすでに日本語で登録しているため不要。[k, k] と記述することで保存されるのはIDだが表示は文字になる。[k,v ] と保存するとshow.htmlにはIDが表示される%>
          </div>
          <div class="form-group col-12">
            <%= f.label :email, "メールアドレス", class: "col-6 control-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "col-5 form-control-static" %>
          </div>
          <div class="form-group col-12">
            <%= f.label :age, "年代", class: "col-6 control-label" %>
            <%= f.select :age, User.ages.map { |k, v| [k, k] }, {}, class: "col-5 form-control-static name" %>
          </div>
          <div class="form-group col-12">
            <%= f.label :annual_income, "収入", class: "col-6 control-label" %>
            <%= f.select :annual_income, User.annual_incomes.map { |k, v| [k, k] }, {}, class: "col-5 form-control-static name" %>
          </div>
          <div class="form-group col-12">
            <%= f.label :job, "職業", class: "col-6 control-label" %>
            <%= f.select :job, User.jobs.map { |k, v| [k, k] },{}, class: "col-5 form-control-static name" %>
          </div>
          <div class="form-group col-sm-10 px-sm-0 mx-auto">
            <%= f.label :"家計簿ステータス", class: "col-sm-3 control-label" %>
            <%= f.radio_button :status, false, checked: true %><%= f.label :status, "非公開" %>
            <%= f.radio_button :status, true %><%= f.label :status, "公開" %>
          </div>
          <div class="form-group col-sm-10 px-sm-0 mx-auto">
            <%= f.label :"退会ステータス", class: "col-sm-3 control-label" %>
            <%= f.radio_button :is_deleted, false, checked: true %><%= f.label :status, "利用中" %>
            <%= f.radio_button :is_deleted, true %><%= f.label :status, "退会済み" %>
          </div>
          <div class="actions  ">
            <%= f.submit "編集内容を保存する", class: "btn btn-primary save col-4 offset-md-3 mr-3" %>
           </div>
        <% end %>
    </div>
  </div>
</div>