<div class = "container-fluid">
  <div class = "row">
   <div class="col-12 mt-5">
    <h1 class= "head-line text-center m-5">支出編集</h1>
    
      <%= render "/layouts/error", object: @expense %>
    
    <%= form_with(model: @expense, url:expense_path, local: true ) do |f| %>
      <div class="col-lg-9 offset-lg-3 mb-lg-5">
        <div class="form-group">
          <strong><%=f.label :price,"支出金額",class: "col-lg-6 control-label" %></strong>
          <%=f.number_field :price,required: true, class: "col-lg-6 offset-lg-1 form-control-static" %>円
        </div>
        <div class="form-group">
          <strong><%= f.label :"備考欄", class: 'col-lg-6 control-label' %></strong>
          <%= f.text_field :note, class: 'col-lg-7 form-control' %>
        </div>
        <div class="form-group">
          <strong><%= f.label :"日付", class: 'control-label' %></strong>
          <%= f.date_field :created_at, class: 'col-7 form-control' %>
        </div>
        <div class="form-group col-12">
          <strong><%= f.label :category, "項目",class: "col-6 control-label" %></strong>
           <%= f.select :category_id, options_from_collection_for_select(current_user.categories, :id, :category_name) ,class: "col-5 control-label" %>
           <strong><%= f.label :family,"家族",class: "col-6 control-label" %></strong>
          <%= f.select :family_id, options_from_collection_for_select(current_user.families, :id, :family_name),class: "col-5 control-label"  %>
        </div>
        <div class="form-group ">
          <%= f.submit '更新する' ,class: "mb-5 btn-lg btn-success right" %>
        </div>
        </div>
      <% end %>
    </div>
  </div>
</div>