<div class = "container-fluid">
  <div class = "row">
    <div class ="col-7 offset-1 mt-5">
      <h2 class= "head-line text-center m-4 ">支出一覧</h2>

        <h3 class = "text-center">
         <%= link_to expenses_path(month: @month.prev_month),'data-turbolinks': false do %>
	          <i class="fas fa-backward"></i>
	       <% end %>
	       <%= I18n.l @current_month_beginning %>
	       <strong class="day mr-5 ml-5">~</strong>
	       <%= I18n.l @current_month_end %>
	       <%= link_to expenses_path(month: @month.next_month),'data-turbolinks': false do %>
	          <i class="fas fa-forward"></i>
	       <% end %>
	     </h3>
    </div>
    
  　<div class= "col-11 ml-5">
  　  <h2 class ="total mt-5">支出額の合計：
         <span class="text-success"><%= @sum_price %>円</span></h2>
     <h4><%= link_to "新規登録",new_expense_path %></h4>
    </div>
    <div class="col-7 offset-1 text-center">
      <% if @expenses.present? %>
       <table class="table table-bordered table-hover mt-5">
         <thead>
           <tr>
             <th>日付</th>
             <th>支出金額</th>
             <th>項目</th>
             <th>家族名</th>
             <th colspan="2"></th>
           </tr>
         </thead>

        <% @expenses.each do |expense| %>

        <tbody>
          <div class="list">
           <tr>
             <td ><%= link_to edit_expense_path(expense) do %>
                    <%= I18n.l expense.created_at, format: :short %>
                  <% end %>
             </td>
                <!--config/locales/ja.ymlでcreated_atとformat: :shortを日本語表記になるように定義-->
             <td><%= expense.price.floor.to_s(:delimited)%> 円 </td>
             <td class = "col-2"><div style="color: <%= expense.category.color %>;"><%= expense.category.category_name %></div></td>
               <% if expense.family.present? %>
                 <td><%= expense.family.family_name %></td>
               <% else %>
                 <td>未設定</td>
               <% end %>
             <td><%= expense.note %></td>
             <td><%=link_to "削除する",expense_path(expense),method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
             </tr>
          </div>
        </tbody>
        <% end %>
     </table>
     <%= paginate @expenses,'data-turbolinks': false %>
    <% else %>
   登録がありません
    <% end %>

   </div>
  </div>
  <div class="row">
    <div class="col-11 ml-5">
      <h2>年間の支出</h2>

      <div class= "chart m-5" style='width:70%; height: 400px;'>
        <canvas id="line" ></canvas>
      </div>
      </div>
    </div>
  </div>


<script>

const category_data = {
  labels: [
    <% @expenses.all.each do |expense| %>
      '<%= expense.category.category_name %>',
    <% end %>
    ],
  datasets: [
    {
      label: '金額',
      data: [
        <% @expenses.each do |expense| %>
          '<%= expense.price %>',
        <% end %>
      ],
    }
  ]
};

const pie_ctx = document.getElementById('pie_chart');
new Chart(pie_ctx, {
    type: 'pie',
    data: category_data,
    options: {
  /*    scales: {
        y: {
          beginAtZero: true
        }
      }
      */
    }
  });

/*ここから棒グラフ*/

const data = {
  labels: <%== @line_monthes %>,
  datasets: [
    {
      label: '支出金額',
      data: <%= @line_datas %>,
      pointStyle: 'circle',
      pointRadius: 10,
      pointHoverRadius: 15
    }
  ]
};

const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: (ctx) => 'Point Style: ' + ctx.chart.data.datasets[0].pointStyle,
      }
    }
  }
};

const line = document.getElementById('line');
new Chart(line, {
    type: 'line',
    data: data,
    config
  });


</script>
