<div class = "container-fluid">
  <div class = "row">
    <div class ="col-12">
      <%= link_to "前の月のリンク",expenses_path(month: @month.prev_month) %>
     <%= link_to "次の月のリンク",expenses_path(month: @month.next_month) %>
    </div>
  　<div class= "col-5">
  　  <div class="month">
  　    <%= @month %>
  　  </div>
      <div class= "chart m-5" style='width:400px; height: 400px;'>
               <canvas id="pie_chart" ></canvas>
      </div>
    </div>
  <div class="col-6">
    <% if @expenses.present? %>
     <h3 class="text-center m-5">家族別支出一覧　</h3>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th class="col-2">日付</th>
            <th class="col-2">支出金額</th>
            <th>項目</th>
            <th>家族名</th>
            <th colspan="2"></th>
          </tr>
        </thead>

      <% @expenses.each do |expense| %>

        <tbody>
         <div class="list">
          <tr>
            <td ><%= link_to edit_expense_path(expense) do %>
            <%= I18n.l expense.created_at, format: :short %>
            <% end %></td>
                <!--config/locales/ja.ymlでcreated_atとformat: :shortを日本語表記になるように定義-->
            <td><%= expense.price.floor.to_s(:delimited)%> 円 </td>
            <td class = "col-2"><div style="color: <%= expense.category.color %>;"><%= expense.category.category_name %></div></td>
            <% if expense.family.present? %>
            <td><%= expense.family.family_name %></td>
            <% else %>
            <td>未設定</td>
            <% end %>
            <td><%= expense.note %></td>
            </tr>
         </div>
        </tbody>

      <% end %>

     </table>
    <% else %>
   登録がありません
    <% end %>

   </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>年間の支出</h2>

      <div class= "chart m-5" style='width:600px; height: 400px;'>
        <canvas id="line" ></canvas>
      </div>
      </div>
    </div>
  </div>
</div>


<script>

const category_data = {
  labels: [
    <% @expenses.all.each do |expense| %>
      '<%= expense.category.category_name %>',
    <% end %>
    ],
  datasets: [
    {
      label: '金額',
      data: [
        <% @expenses.each do |expense| %>
          '<%= expense.price %>',
        <% end %>
      ],
    }
  ]
};

const pie_ctx = document.getElementById('pie_chart');
new Chart(pie_ctx, {
    type: 'pie',
    data: category_data,
    options: {
  /*    scales: {
        y: {
          beginAtZero: true
        }
      }
      */
    }
  });

const data = {
  labels: <%== @line_monthes %>,
  datasets: [
    {
      label: '支出金額',
      data: <%= @line_datas %>,
      pointStyle: 'circle',
      pointRadius: 10,
      pointHoverRadius: 15
    }
  ]
};

const config = {
  type: 'line',
  data: data,
  options: {
    responsive: true,
    plugins: {
      title: {
        display: true,
        text: (ctx) => 'Point Style: ' + ctx.chart.data.datasets[0].pointStyle,
      }
    }
  }
};

const line = document.getElementById('line');
new Chart(line, {
    type: 'line',
    data: data,
    config
  });


</script>
