<%= render "layouts/flash" %>
<div class="container-fluid">
  <div class="row">
    <div class = "col-12 ">
      <h1 class= "head-line text-center m-5 "><i class="fas fa-home"></i>マイページ</h1>
      <h2 class="text-center">表示期間</h2>
      <h4 class = "head-date ml-2 mr-2 text-center">
        <%= link_to users_my_page_path(month: @month.prev_month),'data-turbolinks': false do %>
          <%= image_tag 'back.jpg', size: "60x50" %>
        <% end %>
        <%= I18n.l @current_month_beginning %> ~
        <%= I18n.l @current_month_end %>
        <%= link_to users_my_page_path(month: @month.next_month),'data-turbolinks': false do %>
          <%= image_tag 'next.jpg', size: "60x50" %>
        <% end %>
	    </h4>
		  <table class="table table-bordered table-hover mt-5">
        <thead>
        	<tr>
              <th class= "text-center">収入</th>
              <th class= "text-center">支出</th>
              <th class= "text-center">貯金</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class= "text-center text-success"><%=@sum_price_income %>円</p></td>
              <td class= "text-center text-danger"><%= @sum_price_expense %>円</td>
              <td class= "text-center"><%= @saving %>円</td>
            </tr>
          </tbody>
      </table>
    </div>
    <div class = "col-lg-4 offset-2 mt-5">
		  <h2><i class="fas fa-chart-pie"></i>目標家計簿</h2>
		  <% if current_user.category_ids.present? %>
        <div class= "chart" style='width:300px; height: 300px;'>
            <canvas id ="pie" ></canvas>
        </div>
      <% else %>
        <td>未設定</td>
        <div class= "chart" style='width:300px; height: 300px;'>
            <canvas id ="pie" ></canvas>
        </div>
      <% end %>
    </div>
		<div class = "col-lg-4 offset-2 mt-5">
			<h2><i class="fas fa-chart-pie"></i>現在の家計簿</h2>
			<% if @expenses.present? %>
        <div class= "chart" style='width:300px; height: 300px;'>
           <canvas id ="chart" ></canvas>
        </div>
      <% else %>
          <td>未設定</td>
          <div class= "chart" style='width:300px; height: 300px;'>
           <canvas id ="chart" ></canvas>
          </div>
      <% end %>
    </div>
  </div>
	<div class = "row">
		<div class="col-md-9 offset-1 mb-5">
		    <h2 class="headline m-5"><i class="fas fa-id-badge"></i>プロフィール</h2>
		    <div class="bottm text-right">
				  <p><%= link_to users_information_edit_path, class: " btn btn-success ml-4" do %>
					  <i class="fas fa-user-edit"></i>編集する
				  <% end %></p>
			  </div>
			  <table class="table table-bordered table-condensed mb-5" >
			  	<tbody>
				    <tr>
					    <td class="info">氏名</td>
					  	<td class="text-left "><%= @user.name %>
				  	</tr>
				  	<tr>
					    <td class="info">年代</td>
						  <td class="text-left"><%= @user.age %></td>
					  </tr>
					  <tr>
					  	<td class="info">仕事</td>
					  	<td class="text-left"><%= @user.job %></td>
					  </tr>
  					<tr>
  					  <td class="info">年収</td>
					  	<td class="text-left"><%= @user.annual_income %></td>
					  </tr>
					  <tr>
					  	<td class="info">都道府県</td>
					  	<td class="text-left"><%= @user.prefecture %></td>
					  </tr>
					  <tr>
					    <td class="info">メールアドレス</td>
					  	<td class="text-left"><%= @user.email %></td>
					  </tr>
					  <tr>
					  	<td class="info">家計簿ステータス</td>
					  	<% if current_user.status == false %>
					    	<td class="text-left">家計簿は非公開です</br>
					    	<sub>＊ユーザ一覧に表示されていない状態です</sub></td>
					  	<% else %>
						    <td class="text-left">家計簿を公開中</td>
					  	<% end %>
				  	</tr>
				  </tbody>
		  	</table>
		</div>
	</div>
</div>

<script>

const category_data = {
  labels: [
    <% @categories.each do | category| %>
      '<%= category.category_name %>',
    <% end %>
    ],
  datasets: [
    {
      label: 'カテゴリー表',
      data: [
        <% @categories.each do | category| %>
          '<%= category.target_price %>',
        <% end %>
      ],
    }
  ]
};

const pie_ctx = document.getElementById('pie');
new Chart(pie_ctx, {
    type: 'pie',
    data: category_data,
    options: {
 
    }
  });

const expense_data = {
  labels: [
    <% @expense_chart.each do |expense| %>
      '<%= expense.category.category_name %>',
    <% end %>
    ],
  datasets: [
    {
      label: '金額',
      data: [
        <% @expense_chart.each do |expense| %>
          '<%= expense.price %>',
        <% end %>
      ],
    }
  ]
};

const expense_ctx = document.getElementById('chart');
new Chart(expense_ctx, {
    type: 'pie',
    data: expense_data,
    options: {
  /*    scales: {
        y: {
          beginAtZero: true
        }
      }
      */
    }
  });
  

</script>