<footer class="footer text-light">
  <% if admin_signed_in? %>
  
  <% else %>
  
    <%= link_to expenses_path, class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <p><i class="fas fa-receipt"></i>支出</p>
    <% end %>
    <%= link_to incomes_path, class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
       <i class="fas fa-money-bill-wave-alt"></i>収入</p>
    <% end %>
    <%= link_to families_path, class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <p><i class="fas fa-list-ul"></i>家族</p>
    <% end %>
    <%= link_to categories_path, class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <p><i class="fas fa-calculator"></i>家計簿</p>
    <% end %>
    <%= link_to users_my_page_path(current_user), class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <p><i class="fas fa-home"></i>ホーム</p>
    <% end %>
    
  <% end %>
 
</footer>

