<footer class="footer text-light">
  <% if admin_signed_in? %>
  
  <% else %>
  
    <%= link_to expenses_path, class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <i class="fas fa-chart-bar"></i>
        <p>支出</p>
    <% end %>
    <%= link_to incomes_path, class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <i class="fas fa-coins"></i>
        <p>収入</p>
    <% end %>
    <%= link_to families_path, class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <i class="fas fa-list-ul"></i>
        <p>家族</p>
    <% end %>
    <%= link_to categories_path, class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <i class="fas fa-calculator"></i>
        <p>目標家計簿</p>
    <% end %>
    <%= link_to users_my_page_path(current_user), class: "btn04 bordercenter text-center", 'data-turbolinks': false do %>
        <i class="fas fa-lg fa-pencil-alt"></i>
        <p>マイページ</p>
    <% end %>
    
  <% end %>
 
</footer>

