<header class="header bg-secondary text-monospace">
  <nav class="navbar navbar-expand-sm navbar-info">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">

        <!--adminログイン時のヘッダー-->
            <% if admin_signed_in? %>
              <li class="nav-item active">
                <%= link_to "トップ", admin_root_path, class: 'nav-link text-light' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'nav-link text-light' %>
              </li>
        
            <!--usersログイン時のヘッダー-->
            <% elsif user_signed_in? %>
              <li class= "nav-item active">
               <%= link_to users_my_page_path(current_user), class: "nav-link text-white font-weight-bold" do %>
                <span> Welcome！ <%= current_user.name %>様</span>
                <% end %>
                
              </li>
              <li class="nav-item ">
                <%= link_to "トップ", root_path, class: 'nav-link text-light' %>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", users_my_page_path(current_user), class: 'nav-link text-light' %>
              </li>

             <li class="nav-item">
                <%= link_to "ログアウト", destroy_user_session_path,method: :delete, class: 'nav-link text-light' %>
              </li>


            <% else %>
            <!--ログイン前時のヘッダー-->
               <li class="nav-item active">
                <%= link_to "トップ", root_path, class: 'nav-link text-light' %>
              </li>
              <li class="nav-item">
               <!--%= link_to "ゲストログイン", users_guest_sign_in_path, data: {"turbolinks" => false}, class: 'nav-link text-light',method: :post %>-->
              </li>
              <li class="nav-item ">
                <a class="nav-link" data-toggle="modal" data-target="#signUpModal">Sign Up</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#logInModal">Log In</a>
              </li>

            <% end %>
            </ul>
          </div>
        
      </nav>
    </header>
    