<!DOCTYPE html>
<html>
  <head>
    <title>Monege</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   
     <script src="https://cdnjs.cloudflare.com/ajax/libs/multiscroll.js/0.2.2/jquery.multiscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
   
  </head>

  <body>
     <div id="particles-js"></div>
      <div class="main">
     
      
        <%= render 'layouts/header' %>
          
        <%= yield %>
     
        <%= render 'layouts/footer' %>
      </div>
     
    
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
    <script>
      particlesJS.load('particles-js', 'assets/particles.json', function() {
     
        });

    </script>
  </body>
</html>
