<!DOCTYPE html>
<html>
  <head>
    <title>Monege</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
   
     <script src="https://cdnjs.cloudflare.com/ajax/libs/multiscroll.js/0.2.2/jquery.multiscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
  </head>

  <body>
    <div class="main">
      <%= flash[:notice] %>
      <%= render 'layouts/header' %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <% unless user_signed_in? %>
        <%= render 'public/registrations/new' %>
        
        <%= render 'public/sessions/new' %>
        <%= render 'public/sessions/new' %>
      <% end %>
    </div>
  </body>
</html>
